@import "../helpers/all";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
}

#app {
  background: $bgGray;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textBlack;
  font-size: $textSize;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: $titleSize;
  margin: 0px;
  color: $textGray;
  text-transform: uppercase;
  font-weight: 400;
}