$white:     #FFFFFF;
$bgGray:    #FAFAFA;
$barGray:   rgba(#EEEEEE, 0.95);
$textGray:  #777777;
$textBlack: #333333;
$black:     #000000;
$shadow:    rgba($black, 0.2);

$theme:     #3498DB;
$success:   #2ECC71;